@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

body{
    font-size: 18px;
    color:  #717171;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f7f7f7;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.close{
    cursor:pointer;
}

a, a:hover, a:link,
a:active, a:visited{
    text-decoration: none;
}

h1,h2{
    font-family: Lato;
    color:  #4d4d4d;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px; 
}

h1{
    font-size: 25px;
}

h2{
    font-size: 22px;
}

h3{
    position: relative;
    text-align: center;
    color: #fff;
    background-color: #8bd0be;
    padding: 7px 0;
    margin-bottom: 35px;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

h3:first-letter{
    text-transform: uppercase;
}


p{
    color:  #717171;
    font-size: 20px;    
    letter-spacing: 2px;
}


input[type="text"],
input[type="email"],
input[type="password"]{
    padding: 7px 4px;
    border: 2px solid #8bd0be;
    color: #717171;
    font-style: italic;
}

input[type="button"]{
    padding: 6px 20px;
    border: 0px;
    background-color: #8bd0be;
    color: #fff;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.open-modal{
    font-size:15px;
    text-transform: lowercase;
    font-style: italic;
    letter-spacing: 1px;
    cursor: pointer;
}

.underline {    
    border-radius: 50%;
    background-color:  #fff;
    width: 10px;
    height: 10px;
    display: block;
    margin: 0 auto;
}

.underline::after,
.underline::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #fff;
    margin-top:4px;
}

.underline::after{
    margin-left: -45px;
}

.underline::before{
    margin-left: 15px;
}


#top{
    text-align: center;
}

#toggle {
    width: 28px;
    height: 30px;
    margin: 10px auto;
    cursor: pointer;
    margin: 65px 0 20px 0;
}

#top #toggle{
} 

#toggle div {
    width: 30px;
    height: 5px;
    background-color: #8bd0be;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 10px;
}

#toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
    opacity: 0;
}

#toggle.on .three {
     transform: rotate(-45deg) translate(7px, -8px);
}

#top .logo{
    position: absolute;
    top: 20px;
    z-index: 2;
    left: 20%;
}

.menu-wrapper{
    color: #8bd0be;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 75px;
}

.menu-wrapper .menu-item{
    margin: 0 27px 15px 27px;
    padding: 5px;
    display: inline-block;
    color: #8bd0be;
}

.menu-wrapper .menu-item:hover{
    border: 2px solid #8bd0be;
    padding: 3px;
}

.menu-wrapper .menu-form{
    position: absolute;
    top:-999999em;
    z-index: 3;
    background-color: #f7f7f7;
    border: 5px solid #8bd0be;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
}

.menu-wrapper .menu-form .close{
    margin-right: 15px;
    margin-top: 5px;
}

.menu-wrapper .menu-form::before{
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #8bd0be;
    top: -15px;
    right: 20px;
}


.menu-wrapper .menu-form .form-wrapper{
    list-style: none;
    padding: 10px;
}

.menu-wrapper .menu-form .form-wrapper input{
    margin: 5px 0;
}

#gridListWrapper{
    position: absolute;
    top:-999999em;
    z-index: 3;
}

.gridList{
    list-style: none;
    margin: 5px;
    margin-top: 20px;
    background-color: #f7f7f7;
    border: 5px solid #8bd0be;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    padding: 0;
}

.gridList::before{
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #8bd0be;
    top: 10px;
    right: 40px;
}

.gridList .close{
    margin-left: -10px;
    margin-top: 5px;
}

.gridList>.gridItem{
    position: relative;
    margin: 6px;
    padding: 5px 15px;
    color: #fff;
    background-color: #8bd0be;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    text-transform: uppercase;
    cursor: pointer;
}


#title{
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 701px;
    background-position: center;
    background-attachment: fixed;
}

#title-overlay{
    position: absolute;
    height: 701px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 27%;
    display: block;
    left: 37%;
    text-align: center;
    
}

#title-overlay h1{
    margin-top: 300px;
}

.btn-grid-wrapper{
    margin-top: 40px;
}

.btn-grid{
    text-transform: uppercase;
    color: #fff;
    background-color: #8bd0be;
    padding: 10px 60px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: 0.2s all;
}

.btn-grid:hover{
    color: #4fb397;
}


#about{
    text-align: center;
}

#about p{
    padding: 0 60px;
}

#about h2{
    margin-top: 60px;
    margin-bottom: 20px;
}

#about .underline{
    margin-top: 15px;
    background-color: #61b59d;
}

#about .underline::after,
#about .underline::before{
    background-color: #61b59d;
}

#example{
    margin: 50px 0;
    text-align: center;
}

#example .example-list{
    
}

#example .example-list a{
    
}

#example .example-list img{
    width: 300px;
    height: 310px;
}

#toLeft,
#toRight{
    position: relative;
    color: #4fb397;
    font-size: 35px;
    cursor: pointer;
    top: 120px;
}


#footer{
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #8bd0be;
    padding: 30px 0;
}

#footer #copyright,
#footer #author,
#footer .links{
    padding: 7px 0;
}

#footer a{
    color: #fff;
}

#footer a>i{
    padding: 0 3px;
}










