@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

body{
    font-size: 18px;
    color:  #717171;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f7f7f7;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover, a:link,
a:active, a:visited{
    text-decoration: none;
}

h1,h2{
    font-family: Lato;
    color:  #4d4d4d;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px; 
}

h1{
    font-size: 25px;
}

h2{
    font-size: 22px;
}


p{
    color:  #717171;
    font-size: 20px;    
    letter-spacing: 2px;
}


.underline {    
    border-radius: 50%;
    background-color:  #fff;
    width: 10px;
    height: 10px;
    display: block;
    margin: 0 auto;
}

.underline::after,
.underline::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #fff;
    margin-top:4px;
}

.underline::after{
    margin-left: -45px;
}

.underline::before{
    margin-left: 15px;
}


#top{
    text-align: center;
}

#top .logo{
    position: absolute;
    top: 20px;
    z-index: 2;
    left: 20%;
}

.menu-wrapper{
    color: #8bd0be;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 75px;
}

.menu-wrapper .menu-item{
    margin: 0 27px 15px 27px;
    padding: 5px;
    display: inline-block;
    color: #8bd0be;
}

.menu-wrapper .menu-item:hover{
    border: 2px solid #8bd0be;
    padding: 3px;
}



#title{
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 701px;
    background-position: center;
    background-attachment: fixed;
}

#title-overlay{
    position: absolute;
    height: 701px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 27%;
    display: block;
    left: 37%;
    text-align: center;
    
}

#title-overlay h1{
    margin-top: 300px;
}

.btn-grid-wrapper{
    margin-top: 40px;
}

.btn-grid{
    text-transform: uppercase;
    color: #fff;
    background-color: #8bd0be;
    padding: 10px 60px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: 0.2s all;
}

.btn-grid:hover{
    color: #4fb397;
}


#about{
    text-align: center;
}

#about h2{
    margin-top: 60px;
    margin-bottom: 20px;
}

#about .underline{
    margin-top: 15px;
    background-color: #61b59d;
}

#about .underline::after,
#about .underline::before{
    background-color: #61b59d;
}




#footer{
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #8bd0be;
    padding: 30px 0;
}

#footer #copyright,
#footer #author,
#footer .links{
    padding: 7px 0;
}

#footer a{
    color: #fff;
}

#footer a>i{
    padding: 0 3px;
}










